@media screen and (max-width: 992px) {
  .cartHead {
    margin-top: 40%;
    text-indent: 10%;
    font-size: 100%;
    font-weight: 600;
    font-family: Jost;
    letter-spacing: 2px;
  }
  .thead {
    width: "936px";
    height: "44px";
    background-color: #f1f3f4;
  }
  .main {
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
  }
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .receipt {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
}

@media screen and (min-width: 992px) {
  .main {
    box-sizing: calc(100%-20%);
    margin: 10px 20px 20px;
  }
  .cartHead {
    margin-top: 15%;
    text-indent: 10%;
    font-size: 180%;
    font-weight: 600;
    font-family: Jost;
    letter-spacing: 1vh;
  }

  .cart {
    display: flex;
    align-items: first baseline;
    justify-content: flex-end; /* Distribute remaining space between elements */
    max-width: 100%;
  }
  .receipt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 20px;
    width: 50%; /* Adjust the width as needed */
    font-family: Arial, sans-serif;
  }
  .productTable {
    line-height: 26px;
    font-size: 14px;
    width: 100%;
    margin-left: 80px; /* Add margin to the right of the product table */
    padding: 2%;
    font-family: Arial, sans-serif;
    margin-right: 20px;
  }
}
.thead {
  width: "936px";
  height: "44px";
  background-color: #f1f3f4;
}
.theadItem {
  text-indent: 2%;
  font-size: small;
}
